@media (min-width: 576px) {
    .logo {
        left: 0;
    }

    .menu-item-wrapper {
        font-size: 4.5rem;
    }

    .menu-icon {
        height: 1.8rem;
        width: 1.8rem;
    }

    .menu-icon div {
        height: 0.25rem;
        width: 1.4rem;
    }

    .menu-icon div:nth-child(1) {
        top: calc(50% - 0.38rem);
    }

    .menu-icon div:nth-child(3) {
        top: calc(50% + 0.38rem);
    }

    .scroll-indication-text {
        font-size: 1rem;
    }

    .para-highlight {
        font-size: 2.15rem;
    }

    .timeline {
        width: 2rem;
    }

    .timeline .car {
        width: 1.6rem;
    }

    .timeline .experience-lap .lap-row div {
        min-width: 0.45rem;
        height: 0.45rem;
    }

    #education .container .ed-intro {
        font-size: 3rem;
    }

    .educational-qualification-sticky-content,
    .projects-sticky-content {
        font-size: 3.5rem;
    }

    .educational-qualification-non-sticky-content,
    .projects-non-sticky-content {
        padding: 1rem;
    }

    .degree-wrapper .slide-content-number,
    .education-slide-end .slide-content-number {
        font-size: 2.5rem;
    }

    .degree-name,
    .education-slide-end .end-card {
        font-size: 3.25rem;
    }

    .educational-qualification-non-sticky-content .mac .screen-swiper .screen-swiper-info {
        font-size: 0.8rem;
    }

    .skills-intro,
    .skills-intro-animation div:nth-child(2) {
        font-size: 6rem;
    }

    .skill-type {
        font-size: 1.8rem;
    }

    .skill-type-wrapper .material-symbols-outlined {
        font-size: 1.8rem;
    }

    .text-stroke-intro {
        font-size: 4rem;
        margin-bottom: 1.2rem;
    }

    .award-content {
        height: 17.5rem;
        width: 17.5rem;
    }

    .project-display-details-wrapper {
        padding: 2.5rem;
        padding-bottom: 0;
        font-size: 1.3rem;
    }

    .project-display-tools {
        height: 4.675rem;
    }

    .project-display {
        height: 14rem;
        padding-left: 2.5rem;
    }

    .social-icon-wrapper img {
        width: 4rem;
    }

    .social-icon-wrapper .social-icon .social-icon-heading {
        font-size: 1.5rem;
    }

    .social-icon-wrapper .social-icon .social-icon-description {
        font-size: 1.15rem;
    }

    .social-icon-wrapper .social-icon .social-icon-link {
        font-size: 1.15rem;
    }

    .social-icon-wrapper .social-icon .material-symbols-outlined {
        font-size: 1.15rem;
    }
}

@media (min-width: 768px) {
    .preloader .triangle {
        border-bottom: 45px solid #000;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }

    .preloader .square {
        width: 45px;
        height: 45px;
    }

    .preloader .circle {
        width: 45px;
        height: 45px;
    }

    .logo {
        font-size: 2.5rem;
    }

    .menu-icon {
        height: 2rem;
        width: 2rem;
    }

    .menu-icon div {
        height: 0.25rem;
        width: 1.5rem;
    }

    .menu-icon div:nth-child(1) {
        top: calc(50% - 0.5rem);
    }

    .menu-icon div:nth-child(3) {
        top: calc(50% + 0.5rem);
    }

    .menu-item-wrapper {
        font-size: 5rem;
    }

    .mac {
        margin-top: 3rem;
        height: calc(100% - ((2.5rem * 1.5) + 3rem));
    }

    .scroll-indication {
        height: 3.5rem;
        width: 2.2rem;
    }

    .scroll-indication .ball {
        height: 0.6rem;
        width: 0.6rem;
    }

    .para-highlight {
        font-size: 2.38rem;
    }

    .experience .when {
        font-size: 0.9rem;
    }

    .experience .what {
        font-size: 1.38rem;
    }

    .experience .where {
        font-size: 1.25rem;
    }

    .experience .how {
        font-size: 1.2rem;
    }

    .experience .with img {
        width: 1.2rem;
    }

    #education .container .ed-intro {
        font-size: 3.75rem;
    }

    .educational-qualification-sticky-content,
    .projects-sticky-content {
        font-size: 4.5rem;
    }

    .educational-qualification-non-sticky-content,
    .projects-non-sticky-content {
        padding: 1.5rem;
    }

    .about-degree-wrapper {
        flex-direction: unset;
    }

    .about-degree-heading,
    .project-heading {
        font-size: 2.5rem;
    }

    .about-degree-point-wrapper {
        font-size: 1.2rem;
        justify-content: center;
    }

    .project-container {
        align-items: center;
    }

    .project-number {
        font-size: 2.5rem;
    }

    .project-name {
        font-size: 1.5rem;
    }

    .education-summary .heading {
        font-size: 2.5rem;
    }

    .education-summary .summary-wrapper .summary-content .summary-number {
        font-size: 2.85rem;
    }

    .education-summary .summary-wrapper .summary-content .summary-heading {
        font-size: 1.25rem;
    }

    .educational-qualification-non-sticky-content .mac .code-block .slide-point-wrapper .slide-point {
        font-size: 1.185rem;
    }

    .educational-qualification-non-sticky-content .mac .screen-swiper .screen-swiper-button-wrapper span {
        font-size: 2.8rem;
    }

    .educational-qualification-non-sticky-content .mac .screen-swiper .screen-swiper-info {
        font-size: 1rem;
    }

    .skills-intro,
    .skills-intro-animation div:nth-child(2) {
        font-size: 7rem;
    }

    .horizontal-view-element {
        height: 17rem;
        width: 17rem;
    }

    .horizontal-view-element img {
        width: 11rem;
    }

    .skill-type-wrapper {
        margin-bottom: 1.5rem;
    }

    .skill-type {
        font-size: 2.2rem;
    }

    .slice::after {
        height: 1.95px;
    }

    .skill-type-wrapper .material-symbols-outlined {
        font-size: 2.2rem;
    }

    .skill-name {
        font-size: 1.45rem;
    }

    .text-stroke-intro {
        font-size: 5.2rem;
        margin-bottom: 1.3rem;
    }

    .award-content {
        height: 19rem;
        width: 19rem;
    }

    .award-name {
        font-size: 1.45rem;
        font-weight: 600;
        line-height: 1;
        padding-bottom: 0.5rem;
    }

    .award-description {
        font-size: 1rem;
    }

    .project-display-details-wrapper {
        padding: 3rem;
        padding-bottom: 1rem;
        font-size: 1.385rem;
    }

    .project-display-tools {
        height: 4.775rem;
    }

    .project-display {
        height: 19rem;
        padding-left: 3rem;
    }

    .linkedin-name {
        font-size: 1.2rem;
    }

    .linkedin-post {
        font-size: 1.25rem;
    }

    @keyframes scroll-down {
        25% {
            transform: translateY(calc(100% - 0.6rem));
        }

        40% {
            transform: translateY(calc(100% - 1.4rem));
        }

        58% {
            transform: translateY(calc(100% - 0.6rem));
        }

        70% {
            transform: translateY(calc(100% - 0.9rem));
        }

        77% {
            transform: translateY(calc(100% - 0.6rem));
        }

        100% {
            transform: translateY(calc(100% - 0.6rem));
        }
    }

    @-webkit-keyframes scroll-down {
        25% {
            transform: translateY(calc(100% - 0.6rem));
        }

        40% {
            transform: translateY(calc(100% - 1.4rem));
        }

        58% {
            transform: translateY(calc(100% - 0.6rem));
        }

        70% {
            transform: translateY(calc(100% - 0.9rem));
        }

        77% {
            transform: translateY(calc(100% - 0.6rem));
        }

        100% {
            transform: translateY(calc(100% - 0.6rem));
        }
    }

    @-moz-keyframes scroll-down {
        25% {
            transform: translateY(calc(100% - 0.6rem));
        }

        40% {
            transform: translateY(calc(100% - 1.4rem));
        }

        58% {
            transform: translateY(calc(100% - 0.6rem));
        }

        70% {
            transform: translateY(calc(100% - 0.9rem));
        }

        77% {
            transform: translateY(calc(100% - 0.6rem));
        }

        100% {
            transform: translateY(calc(100% - 0.6rem));
        }
    }

    @-ms-keyframes scroll-down {
        25% {
            transform: translateY(calc(100% - 0.6rem));
        }

        40% {
            transform: translateY(calc(100% - 1.4rem));
        }

        58% {
            transform: translateY(calc(100% - 0.6rem));
        }

        70% {
            transform: translateY(calc(100% - 0.9rem));
        }

        77% {
            transform: translateY(calc(100% - 0.6rem));
        }

        100% {
            transform: translateY(calc(100% - 0.6rem));
        }
    }

    @-o-keyframes scroll-down {
        25% {
            transform: translateY(calc(100% - 0.6rem));
        }

        40% {
            transform: translateY(calc(100% - 1.4rem));
        }

        58% {
            transform: translateY(calc(100% - 0.6rem));
        }

        70% {
            transform: translateY(calc(100% - 0.9rem));
        }

        77% {
            transform: translateY(calc(100% - 0.6rem));
        }

        100% {
            transform: translateY(calc(100% - 0.6rem));
        }
    }

    @keyframes sliced-half {
        to {
            transform: translateX(1.25px);
        }
    }

    @-webkit-keyframes sliced-half {
        to {
            transform: translateX(1.25px);
        }
    }

    @-moz-keyframes sliced-half {
        to {
            transform: translateX(1.25px);
        }
    }

    @-ms-keyframes sliced-half {
        to {
            transform: translateX(1.25px);
        }
    }

    @-o-keyframes sliced-half {
        to {
            transform: translateX(1.25px);
        }
    }
}

@media (max-width: 768px) {
    .about-degree-heading {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .preloader .triangle {
        border-bottom: 50px solid #000;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
    }

    .preloader .square {
        width: 50px;
        height: 50px;
    }

    .preloader .circle {
        width: 50px;
        height: 50px;
    }

    .logo {
        font-size: 3rem;
    }

    .menu-item-wrapper {
        font-size: 5.5rem;
    }

    .mac {
        margin-top: 3.5rem;
        height: calc(100% - ((3rem * 1.5) + 3.5rem));
    }

    .mac .code-block {
        font-size: 1.1rem;
    }

    .mac .code-block .line-of-code .cursor-spot {
        height: 1.56rem;
    }

    .para-highlight {
        font-size: 2.5rem;
    }

    .timeline {
        margin-block: 1.25rem;
    }

    .experience-wrapper {
        margin: 1.25rem;
    }

    #education .container .ed-intro {
        font-size: 4.2rem;
    }

    .educational-qualification-sticky-content,
    .projects-sticky-content {
        font-size: 5.8rem;
    }

    .educational-qualification-non-sticky-content,
    .projects-non-sticky-content {
        padding: 2.5rem;
    }

    .degree-wrapper .slide-content-number,
    .education-slide-end .slide-content-number {
        font-size: 3rem;
    }

    .degree-name,
    .education-slide-end .end-card {
        font-size: 4rem;
    }

    .about-degree-heading,
    .project-heading {
        font-size: 3.5rem;
    }

    .about-degree-point-wrapper {
        font-size: 1.55rem;
    }

    .about-degree-point-wrapper {
        font-size: 1.4rem;
    }

    .project-number {
        font-size: 3rem;
    }

    .project-name {
        font-size: 1.75rem;
    }

    .education-summary .heading {
        font-size: 3rem;
    }

    .education-summary .summary-wrapper .summary-content .summary-number {
        font-size: 3.35rem;
    }

    .education-summary .summary-wrapper .summary-content .summary-heading {
        font-size: 1.35rem;
    }

    .educational-qualification-non-sticky-content .mac .screen-swiper .screen-swiper-button-wrapper span {
        font-size: 3rem;
    }

    .skills-intro,
    .skills-intro-animation div:nth-child(2) {
        font-size: 8rem;
    }

    .text-stroke-intro {
        font-size: 7.2rem;
        margin-bottom: 1.5rem;
    }

    .talk-pic-wrapper {
        width: 35%;
    }

    .talk-details {
        font-size: 1.15rem;
    }

    .talk-details .talk-topic {
        font-size: 1.3rem;
    }

    .project-display {
        height: 12rem;
    }

    .linkedin {
        padding: 1rem;
    }

    .social-icon-wrapper img {
        width: 4.5rem;
    }
}

@media (min-width: 1200px) {
    .menu-item-wrapper {
        font-size: 6rem;
    }

    .mac .mac-button-wrapper .mac-button {
        height: 0.8rem;
        width: 0.8rem;
    }

    .mac .code-block {
        font-size: 1.28rem;
        height: calc(100% - (0.8rem + 4rem));
        margin-block: 2rem;
    }

    .mac .code-block .line-of-code .cursor-spot {
        height: 1.55rem;
    }

    .scroll-indication {
        height: 4rem;
        width: 2.5rem;
    }

    .scroll-indication .ball {
        height: 0.75rem;
        width: 0.75rem;
    }

    .para-highlight {
        font-size: 2.6rem;
    }

    .timeline {
        margin-block: 1.4rem;
    }

    .experience-wrapper {
        margin: 1.4rem;
    }

    #education .container .ed-intro {
        font-size: 4.6rem;
    }

    .educational-qualification-sticky-content,
    .projects-sticky-content {
        font-size: 7.5rem;
    }

    .educational-qualification-non-sticky-content,
    .projects-non-sticky-content {
        padding: 3.3rem;
    }

    .degree-wrapper .slide-content-number,
    .education-slide-end .slide-content-number {
        font-size: 4rem;
        padding: 1rem 1.5rem;
    }

    .degree-name,
    .education-slide-end .end-card {
        font-size: 5rem;
        padding: 1.5rem;
    }

    .degree-stream,
    .education-slide-end .message {
        padding: 1.5rem;
    }

    .about-degree-heading,
    .project-heading {
        font-size: 4.5rem;
        padding: 1.5rem;
    }

    .about-degree-point-wrapper {
        font-size: 1.65rem;
        padding: 1.5rem;
    }

    .project-number {
        font-size: 3.25rem;
    }

    .project-name {
        font-size: 1.85rem;
    }

    .education-summary .heading {
        font-size: 4rem;
        padding: 1.25rem;
    }

    .education-summary .summary-wrapper .summary-content .summary-number {
        font-size: 4.25rem;
    }

    .education-summary .summary-wrapper .summary-content .summary-heading {
        font-size: 1.5rem;
    }

    .educational-qualification-non-sticky-content .mac .code-block .slide-point-wrapper .slide-point {
        font-size: 1.3rem;
    }

    .skills-intro,
    .skills-intro-animation div:nth-child(2) {
        font-size: 9rem;
    }

    .horizontal-view-element {
        height: 19rem;
        width: 19rem;
    }

    .horizontal-view-element img {
        width: 12.5rem;
    }

    .skill-type-wrapper {
        margin-bottom: 1.75rem;
    }

    .skill-type {
        font-size: 3.2rem;
    }

    .slice::after {
        height: 2.38px;
        top: 60%;
    }

    .skill-type-wrapper .material-symbols-outlined {
        font-size: 3.2rem;
    }

    .skill-name {
        font-size: 1.55rem;
    }

    .text-stroke-intro {
        font-size: 9rem;
        margin-bottom: 1.8rem;
    }

    .award-content {
        height: 20rem;
        width: 20rem;
    }

    .award-name {
        font-size: 1.6rem;
    }

    .project-display {
        height: 14.755rem;
    }

    .text-stroke-real {
        -webkit-text-stroke: 3px var(--color);
    }

    @keyframes scroll-down {
        25% {
            transform: translateY(calc(100% - 0.75rem));
        }

        40% {
            transform: translateY(calc(100% - 1.55rem));
        }

        58% {
            transform: translateY(calc(100% - 0.75rem));
        }

        70% {
            transform: translateY(calc(100% - 1.05rem));
        }

        77% {
            transform: translateY(calc(100% - 0.75rem));
        }

        100% {
            transform: translateY(calc(100% - 0.75rem));
        }
    }

    @-webkit-keyframes scroll-down {
        25% {
            transform: translateY(calc(100% - 0.75rem));
        }

        40% {
            transform: translateY(calc(100% - 1.55rem));
        }

        58% {
            transform: translateY(calc(100% - 0.75rem));
        }

        70% {
            transform: translateY(calc(100% - 1.05rem));
        }

        77% {
            transform: translateY(calc(100% - 0.75rem));
        }

        100% {
            transform: translateY(calc(100% - 0.75rem));
        }
    }

    @-moz-keyframes scroll-down {
        25% {
            transform: translateY(calc(100% - 0.75rem));
        }

        40% {
            transform: translateY(calc(100% - 1.55rem));
        }

        58% {
            transform: translateY(calc(100% - 0.75rem));
        }

        70% {
            transform: translateY(calc(100% - 1.05rem));
        }

        77% {
            transform: translateY(calc(100% - 0.75rem));
        }

        100% {
            transform: translateY(calc(100% - 0.75rem));
        }
    }

    @-ms-keyframes scroll-down {
        25% {
            transform: translateY(calc(100% - 0.75rem));
        }

        40% {
            transform: translateY(calc(100% - 1.55rem));
        }

        58% {
            transform: translateY(calc(100% - 0.75rem));
        }

        70% {
            transform: translateY(calc(100% - 1.05rem));
        }

        77% {
            transform: translateY(calc(100% - 0.75rem));
        }

        100% {
            transform: translateY(calc(100% - 0.75rem));
        }
    }

    @-o-keyframes scroll-down {
        25% {
            transform: translateY(calc(100% - 0.75rem));
        }

        40% {
            transform: translateY(calc(100% - 1.55rem));
        }

        58% {
            transform: translateY(calc(100% - 0.75rem));
        }

        70% {
            transform: translateY(calc(100% - 1.05rem));
        }

        77% {
            transform: translateY(calc(100% - 0.75rem));
        }

        100% {
            transform: translateY(calc(100% - 0.75rem));
        }
    }

    @keyframes sliced-half {
        to {
            transform: translateX(1.75px);
        }
    }

    @-webkit-keyframes sliced-half {
        to {
            transform: translateX(1.75px);
        }
    }

    @-moz-keyframes sliced-half {
        to {
            transform: translateX(1.75px);
        }
    }

    @-ms-keyframes sliced-half {
        to {
            transform: translateX(1.75px);
        }
    }

    @-o-keyframes sliced-half {
        to {
            transform: translateX(1.75px);
        }
    }
}

@media (min-width: 1400px) {
    .preloader .triangle {
        border-bottom: 60px solid #000;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
    }

    .preloader .square {
        width: 60px;
        height: 60px;
    }

    .preloader .circle {
        width: 60px;
        height: 60px;
    }

    .logo {
        font-size: 3.5rem;
    }

    .menu-icon {
        height: 2.5rem;
        width: 2.5rem;
    }

    .menu-icon div {
        height: 0.30rem;
        width: 2rem;
    }

    .menu-icon div:nth-child(1) {
        top: calc(50% - 0.6rem);
    }

    .menu-icon div:nth-child(3) {
        top: calc(50% + 0.6rem);
    }

    .menu-item-wrapper {
        font-size: 7rem;
    }

    .mac {
        margin-top: 4rem;
        height: calc(100% - ((3.5rem * 1.5) + 4rem));
    }

    .para-highlight {
        font-size: 3rem;
    }

    .timeline {
        margin-block: 1.5rem;
    }

    .experience-wrapper {
        margin: 1.5rem;
    }

    #education .container .ed-intro {
        font-size: 5.1rem;
    }

    .educational-qualification-sticky-content,
    .projects-sticky-content {
        font-size: 9rem;
    }

    .educational-qualification-non-sticky-content,
    .projects-non-sticky-content {
        padding: 4rem;
    }

    .degree-wrapper .slide-content-number,
    .education-slide-end .slide-content-number {
        font-size: 5rem;
    }

    .degree-name,
    .education-slide-end .end-card {
        font-size: 6rem;
    }

    .about-degree-heading,
    .project-heading {
        font-size: 6rem;
    }

    .about-degree-point-wrapper {
        font-size: 1.75rem;
    }

    .project-number {
        font-size: 3.5rem;
    }

    .project-name {
        font-size: 2rem;
    }

    .education-summary .heading {
        font-size: 6rem;
        padding: 1.5rem;
    }

    .education-summary .summary-wrapper .summary-content .summary-number {
        font-size: 5rem;
    }

    .education-summary .summary-wrapper .summary-content .summary-heading {
        font-size: 1.6rem;
    }

    .education-summary .summary-wrapper .summary-content {
        padding: 1.2rem 1rem;
    }

    .educational-qualification-non-sticky-content .mac .code-block .slide-point-wrapper .slide-point {
        font-size: 1.5rem;
    }

    .educational-qualification-non-sticky-content .mac .screen-swiper .screen-swiper-button-wrapper span {
        font-size: 3.2rem;
    }

    .educational-qualification-non-sticky-content .mac .screen-swiper .screen-swiper-info {
        font-size: 1.2rem;
    }

    .skills-intro,
    .skills-intro-animation div:nth-child(2) {
        font-size: 10rem;
    }

    .horizontal-view-element {
        height: 20rem;
        width: 20rem;
    }

    .horizontal-view-element img {
        width: 13rem;
    }

    .skill-type-wrapper {
        margin-bottom: 2rem;
    }

    .skill-type {
        font-size: 4rem;
    }

    .slice::after {
        height: 3.42px;
        top: 58.5%;
    }

    .skill-type-wrapper .material-symbols-outlined {
        font-size: 4rem;
    }

    .skill-name {
        font-size: 1.75rem;
    }

    .text-stroke-intro {
        font-size: 10rem;
        margin-bottom: 2rem;
    }

    .award-content {
        height: 24rem;
        width: 24rem;
    }

    .award-name {
        font-size: 1.8rem;
    }

    .project-display-details-wrapper {
        padding: 4rem;
        padding-bottom: 3rem;
        font-size: 1.4rem;
    }

    .project-display-tools {
        height: 5rem;
    }

    .project-display {
        padding-left: 4rem;
        height: 16.8rem;
    }

    .social-icon-wrapper img {
        width: 5rem;
    }

    @keyframes sliced-half {
        to {
            transform: translateX(3.15px);
        }
    }

    @-webkit-keyframes sliced-half {
        to {
            transform: translateX(3.15px);
        }
    }

    @-moz-keyframes sliced-half {
        to {
            transform: translateX(3.15px);
        }
    }

    @-ms-keyframes sliced-half {
        to {
            transform: translateX(3.15px);
        }
    }

    @-o-keyframes sliced-half {
        to {
            transform: translateX(3.15px);
        }
    }
}

@media (min-height: 750px) {
    .educational-qualification-non-sticky-content .mac .code-block {
        height: calc(100dvh - 11rem);
    }
}