@import "dont-blink-styles.css";

@media (min-width: 350px) {
    .dont-blink-section {
        --dont-blink-font-size: 2.22rem;
    }
}

@media (min-width: 375px) {
    .dont-blink-section {
        --dont-blink-font-size: 2.4rem;
    }
}

@media (min-width: 400px) {
    .dont-blink-section {
        --dont-blink-font-size: 2.55rem;
    }
}

@media (min-width: 576px) {
    .dont-blink-section {
        --dont-blink-font-size: 3rem;
        --dont-blink-big-text-font-size: 8rem;
    }

    .dont-blink-section.glitch-intro-text {
        font-size: 6rem;
        letter-spacing: -0.4rem;
    }
}

@media (min-width: 768px) {
    .dont-blink-section {
        --dont-blink-font-size: 3.5rem;
        --dont-blink-big-text-font-size: 10rem;
    }

    .dont-blink-section.glitch-intro-text {
        font-size: 7.25rem;
        letter-spacing: -0.55rem;
    }
}

@media (min-width: 992px) {
    .dont-blink-section {
        --dont-blink-font-size: 4.85rem;
        --dont-blink-big-text-font-size: 13rem;
    }

    .dont-blink-section.glitch-intro-text {
        font-size: 8rem;
        letter-spacing: -0.75rem;
    }
}

@media (min-width: 1200px) {
    .dont-blink-section {
        --dont-blink-font-size: 5.45rem;
        --dont-blink-big-text-font-size: 15rem;
    }

    .dont-blink-section.glitch-intro-text {
        font-size: 8.5rem;
        letter-spacing: -0.85rem;
    }
}

@media (min-width: 1400px) {
    .dont-blink-section {
        --dont-blink-font-size: 6rem;
        --dont-blink-big-text-font-size: 17rem;
    }

    .dont-blink-section.glitch-intro-text {
        font-size: 10rem;
        letter-spacing: -1rem;
    }
}