@keyframes preloader {
    0% {
        opacity: 0;
    }

    16.66% {
        opacity: 1;
    }

    33.33% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes preloader {
    0% {
        opacity: 0;
    }

    16.66% {
        opacity: 1;
    }

    33.33% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes preloader {
    0% {
        opacity: 0;
    }

    16.66% {
        opacity: 1;
    }

    33.33% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes preloader {
    0% {
        opacity: 0;
    }

    16.66% {
        opacity: 1;
    }

    33.33% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes preloader {
    0% {
        opacity: 0;
    }

    16.66% {
        opacity: 1;
    }

    33.33% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes glitch-outro {
    0% {
        opacity: 1;
        box-shadow: -0.45rem 0rem 0rem rgba(255, 0, 255, 0.675),
            0.45rem 0rem 0rem rgba(0, 255, 255, 0.675);
        transform: translateX(-0.45%);
    }

    25% {
        opacity: 0;
        box-shadow: -0.45rem -0.45rem 0rem rgba(255, 0, 255, 0.675),
            0.45rem 0.45rem 0rem rgba(0, 255, 255, 0.675);
        transform: translateX(0.45%);
    }

    50% {
        opacity: 1;
        box-shadow: 0.45rem -0.45rem 0rem rgba(255, 0, 255, 0.675),
            -0.45rem 0.45rem 0rem rgba(0, 255, 255, 0.675);
        transform: translateX(-0.45%);
    }

    58% {
        box-shadow: none;
    }

    75% {
        opacity: 0;
    }

    90% {
        opacity: 1;
        box-shadow: 0.45rem 0.45rem 0rem rgba(255, 0, 255, 0.675),
            -0.45rem -0.45rem 0rem rgba(0, 255, 255, 0.675);
        transform: none;
    }

    95% {
        box-shadow: none;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes horizontal-reveal {
    from {
        width: 0%;
    }

    to {
        width: 100%;
        overflow: visible;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes scroll-down {
    25% {
        transform: translateY(calc(100% - 0.5rem));
    }

    40% {
        transform: translateY(calc(100% - 1.3rem));
    }

    58% {
        transform: translateY(calc(100% - 0.5rem));
    }

    70% {
        transform: translateY(calc(100% - 0.8rem));
    }

    77% {
        transform: translateY(calc(100% - 0.5rem));
    }

    100% {
        transform: translateY(calc(100% - 0.5rem));
    }
}

@-webkit-keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}