@keyframes preloader {
    0% {
        opacity: 0;
    }

    16.66% {
        opacity: 1;
    }

    33.33% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes preloader {
    0% {
        opacity: 0;
    }

    16.66% {
        opacity: 1;
    }

    33.33% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes preloader {
    0% {
        opacity: 0;
    }

    16.66% {
        opacity: 1;
    }

    33.33% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes preloader {
    0% {
        opacity: 0;
    }

    16.66% {
        opacity: 1;
    }

    33.33% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes preloader {
    0% {
        opacity: 0;
    }

    16.66% {
        opacity: 1;
    }

    33.33% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes underline-animation {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@-webkit-keyframes glitch-outro {
    0% {
        opacity: 1;
        box-shadow: -0.45rem 0rem 0rem rgba(255, 0, 255, 0.675),
            0.45rem 0rem 0rem rgba(0, 255, 255, 0.675);
        transform: translateX(-0.45%);
    }

    25% {
        opacity: 0;
        box-shadow: -0.45rem -0.45rem 0rem rgba(255, 0, 255, 0.675),
            0.45rem 0.45rem 0rem rgba(0, 255, 255, 0.675);
        transform: translateX(0.45%);
    }

    50% {
        opacity: 1;
        box-shadow: 0.45rem -0.45rem 0rem rgba(255, 0, 255, 0.675),
            -0.45rem 0.45rem 0rem rgba(0, 255, 255, 0.675);
        transform: translateX(-0.45%);
    }

    58% {
        box-shadow: none;
    }

    75% {
        opacity: 0;
    }

    90% {
        opacity: 1;
        box-shadow: 0.45rem 0.45rem 0rem rgba(255, 0, 255, 0.675),
            -0.45rem -0.45rem 0rem rgba(0, 255, 255, 0.675);
        transform: none;
    }

    95% {
        box-shadow: none;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes horizontal-reveal {
    from {
        width: 0%;
    }

    to {
        width: 100%;
        overflow: visible;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes size-reducer {
    to {
        font-size: 1.8rem;
        letter-spacing: 0.3rem;
        opacity: 0;
    }
}

@-webkit-keyframes show-with-opacity {
    to {
        opacity: 1;
    }
}

@-webkit-keyframes left-to-right-in {
    0% {
        opacity: 0;
        left: -100%;
        transform: skewX(-20deg);
    }

    25% {
        opacity: 1;
    }

    75% {
        transform: skewX(-20deg);
    }

    100% {
        opacity: 1;
        left: 0%;
        transform: skewX(0deg);
    }
}

@-webkit-keyframes right-to-left-in {
    0% {
        opacity: 0;
        left: 100%;
        transform: skewX(20deg);
    }

    25% {
        opacity: 1;
    }

    75% {
        transform: skewX(20deg);
    }

    100% {
        opacity: 1;
        left: 0%;
        transform: skewX(0deg);
    }
}

@-webkit-keyframes left-to-right-out {
    0% {
        left: 0%;
        transform: skewX(0deg);
        opacity: 1;
    }

    25% {
        transform: skewX(-20deg);
    }

    75% {
        opacity: 0;
    }

    100% {
        left: 100%;
        transform: skewX(-20deg);
        opacity: 0;
    }
}

@-webkit-keyframes right-to-left-out {
    0% {
        left: 0%;
        transform: skewX(0deg);
        opacity: 1;
    }

    25% {
        transform: skewX(20deg);
    }

    75% {
        opacity: 0;
    }

    100% {
        left: -100%;
        transform: skewX(20deg);
        opacity: 0;
    }
}

@-webkit-keyframes scroll-down {
    25% {
        transform: translateY(calc(100% - 0.5rem));
    }

    40% {
        transform: translateY(calc(100% - 1.3rem));
    }

    58% {
        transform: translateY(calc(100% - 0.5rem));
    }

    70% {
        transform: translateY(calc(100% - 0.8rem));
    }

    77% {
        transform: translateY(calc(100% - 0.5rem));
    }

    100% {
        transform: translateY(calc(100% - 0.5rem));
    }
}

@-webkit-keyframes marquee {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}