@import "default.css";
@import "keyframes.css";

main {
    height: 100%;
    opacity: 0;
    position: relative;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: opacity 1.5s ease-out 1.5s;
    -webkit-transition: opacity 1.5s ease-out 1.5s;
    -o-transition: opacity 1.5s ease-out 1.5s;
    -moz-transition: opacity 1.5s ease-out 1.5s;
}

.preloader div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    opacity: 0;
}

.preloader .triangle {
    width: 0;
    height: 0;
    border-top: 0;
    border-bottom: 40px solid var(--background-color__secondary);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    animation: preloader 800ms 0s infinite;
    -o-animation: preloader 800ms 0s infinite;
    -moz-animation: preloader 800ms 0s infinite;
    -webkit-animation: preloader 800ms 0s infinite;
}

.preloader .square {
    width: 40px;
    height: 40px;
    background-color: var(--background-color__secondary);
    animation: preloader 800ms 266.666ms infinite;
    -o-animation: preloader 800ms 266.666ms infinite;
    -moz-animation: preloader 800ms 266.666ms infinite;
    -webkit-animation: preloader 800ms 266.666ms infinite;
}

.preloader .circle {
    width: 40px;
    height: 40px;
    background-color: var(--background-color__secondary);
    border-radius: 50%;
    animation: preloader 800ms 533.333ms infinite;
    -o-animation: preloader 800ms 533.333ms infinite;
    -moz-animation: preloader 800ms 533.333ms infinite;
    -webkit-animation: preloader 800ms 533.333ms infinite;
}

.section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-blank-separator {
    height: 50%;
}

.container {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#about.section,
#work-experience.section,
#educational-qualification.section,
#talks.section,
#awards.section,
#skills .container,
#projects.section {
    height: auto;
}

#about.section,
#educational-qualification.section,
#projects.section {
    min-height: 100%;
}

/* Intro */

.logo {
    font-size: 2rem;
    font-weight: 800;
    position: absolute;
    top: 0;
    left: 0.5rem;
}

.logo span {
    color: var(--highlight);
}

.menu-icon {
    position: absolute;
    z-index: 4;
    top: 0.8rem;
    right: 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    vertical-align: baseline;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
}

.menu-icon div {
    height: 0.14rem;
    width: 1.2rem;
    border-radius: 0.3rem;
    background-color: var(--menu-color);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
}

.menu-icon div:nth-child(1) {
    top: calc(50% - 0.33rem);
}

.menu-icon div:nth-child(2) {
    top: 50%;
}

.menu-icon div:nth-child(3) {
    top: calc(50% + 0.33rem);
}

.menu-icon:hover {
    transform: scale(1.3);
}

.menu-view {
    position: fixed;
    z-index: 3;
    left: 100%;
    background-color: var(--background-color__secondary);
    color: var(--color__secondary);
    height: 100%;
    width: 100%;
    opacity: 0.98;
    transition: left 0.5s ease-in;
    -webkit-transition: left 0.5s ease-in;
    -moz-transition: left 0.5s ease-in;
    -o-transition: left 0.5s ease-in;
}

.menu-item-wrapper {
    padding: 2rem 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    line-height: 1.3;
}

.menu-item-wrapper .menu-item span {
    cursor: pointer;
}

.menu-item-wrapper .menu-item span:hover {
    text-decoration: underline;
}

.hero {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mac {
    background-color: #252526;
    border-radius: 8px;
    margin: 1rem;
    margin-top: 2.5rem;
    height: calc(100% - ((2rem * 1.5) + 2.5rem));
    width: 100%;
    padding: 0.8rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.54) 0px 3px 15px;
}

.mac .mac-button-wrapper {
    line-height: 1;
    font-size: 0;
}

.mac .mac-button-wrapper .mac-button {
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.mac-button:nth-child(1) {
    background-color: color(srgb 0.9978 0.3733 0.3409);
}

.mac-button:nth-child(2) {
    background-color: color(srgb 1 0.7383 0.1792);
}

.mac-button:nth-child(3) {
    background-color: color(srgb 0.1611 0.7798 0.2519);
}

.mac .code-block {
    height: calc(100% - (0.6rem + 2rem));
    margin-block: 1rem;
    font-size: 1rem;
    overflow: auto;
    white-space: nowrap;
}

.mac .code-block .line-of-code {
    font-family: Menlo, Monaco, 'Courier New', monospace;
    width: 0%;
    overflow: hidden;
}

.mac .code-block .line-of-code .line-number {
    color: rgb(93, 93, 93);
    padding-inline: 0.5rem;
}

.mac .code-block .line-of-code .tag-border {
    color: rgb(93, 93, 93);
}

.mac .code-block .line-of-code .tag {
    color: #569CD6;
}

.mac .code-block,
.line-of-code .attribute {
    color: #9CDCFE;
}

.mac .code-block,
.line-of-code .attribute-value {
    color: #cc886d;
}

.mac .code-block .line-of-code .default-text-value {
    color: #fff;
}

.mac .code-block .line-of-code .attribute-text {
    color: #9bca4a;
}

.mac .code-block .line-of-code .cursor-spot {
    height: 1.3rem;
    width: 0.2rem;
    background-color: white;
    display: inline-block;
    vertical-align: text-top;
    margin-left: 0.1rem;
    animation: blink 0.2s linear alternate infinite;
}

.scroll-indication-wrapper {
    opacity: 0;
    transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll-indication {
    height: 3rem;
    width: 1.78rem;
    border: 0.1rem solid var(--color);
    border-radius: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.scroll-indication .ball-wrapper {
    height: 100%;
    animation: scroll-down 1.8s linear forwards infinite;
}

.scroll-indication .ball {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: var(--color);
}

.scroll-indication-text {
    letter-spacing: 0.5rem;
    padding-block: 0.75rem;
    font-size: 0.85rem;
}

.play-dont-blink-animation-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10rem;
    width: 10rem;
    cursor: pointer;
    display: none;
}

.play-dont-blink-animation-wrapper:hover .play-dont-blink-animation-button {
    animation-play-state: paused;
}

.play-dont-blink-animation-wrapper .play-dont-blink-animation-button {
    position: relative;
    transition: opacity 0.2s linear 0.5s, transform 2s;
    -webkit-transition: opacity 0.2s linear 0.5s, transform 2s;
    -moz-transition: opacity 0.2s linear 0.5s, transform 2s;
    -o-transition: opacity 0.2s linear 0.5s, transform 2s;
    height: 10rem;
    width: 10rem;
    animation: rotate 10s linear infinite;
    transform-origin: center;
}

.play-dont-blink-animation-wrapper .play-dont-blink-animation-button span {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: 0 5rem;
}

.play-dont-blink-animation-wrapper .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.play-dont-blink-animation-wrapper .play-icon span {
    font-size: 5rem;
    vertical-align: middle;
}

/* About */

.para-highlight {
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, system-ui;
    font-weight: 700;
    font-size: 1.75rem;
    padding: 1rem;
    color: var(--color__faded);
    letter-spacing: -0.1rem;
    line-height: 1.38;
}

.para-highlight span {
    transition: color 0.2s linear;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
}

/* Work */

.work-experience-wrapper {
    display: flex;
}

.timeline {
    height: auto;
    width: 1.58rem;
    text-align: center;
    background-color: var(--background-color__secondary);
    flex-shrink: 0;
    margin-block: 1rem;
    overflow: hidden;
    position: relative;
}

.timeline::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0.1rem;
    width: 0.1rem;
    z-index: 0;
    height: 100%;
    background-color: var(--background-color);
}

.timeline::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0.1rem;
    width: 0.1rem;
    z-index: 0;
    height: 100%;
    background-color: var(--background-color);
}

.timeline .car {
    width: 1.2rem;
    transform: rotate(180deg);
    position: relative;
    z-index: 2;
}

.timeline .experience-lap {
    background-color: var(--background-color);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    border: 1px solid var(--background-color__secondary);
}

.timeline .experience-lap .lap-row {
    line-height: 1;
    font-size: 0;
    display: flex;
    overflow: hidden;
}

.timeline .experience-lap .lap-row div {
    min-width: 0.3rem;
    height: 0.3rem;
    flex-grow: 1;
    flex-shrink: 0;
}

.timeline .experience-lap .lap-row:nth-child(odd) div:nth-child(odd) {
    background-color: var(--background-color__secondary);
}

.timeline .experience-lap .lap-row:nth-child(even) div:nth-child(even) {
    background-color: var(--background-color__secondary);
}

.experience-wrapper {
    margin: 1rem;
    margin-right: unset !important;
}

.experience-wrapper .experience {
    padding-bottom: 0.5rem;
}

.experience-wrapper .experience:last-child {
    padding-bottom: unset;
}

.experience .when {
    line-height: 1;
    letter-spacing: 0.4rem;
    font-size: 0.85rem;
    font-weight: 500;
}

.experience .what {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.25;
    padding-top: 0.25rem;
}

.experience .where {
    font-size: 1.15rem;
    line-height: 1.25;
    padding-top: 0.25rem;
    color: var(--color__light_primary);
    font-weight: 500;
}

.experience .how {
    padding-top: 0.5rem;
    margin-bottom: 1rem;
}

.experience .with {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.experience .with .pitstop {
    display: flex;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    background: rgb(221, 221, 221);
    padding: 0.25rem;
    margin-right: 0.5rem;
    flex-shrink: 0;
    margin-bottom: 0.25rem;
}

.experience .with .pitstop img {
    width: 1rem;
    margin-right: 0.25rem;
}

/* Education */

#education .container .ed-intro {
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.3;
    text-align: center;
}

#educational-qualification .container {
    height: auto;
    overflow: unset;
    flex-direction: column;
}

.educational-qualification-sticky-content {
    position: sticky;
    height: 100dvh;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.educational-qualification-sticky-content div {
    background: -webkit-linear-gradient(#aaa, #333);
    background: linear-gradient(#aaa, #333);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.educational-qualification-non-sticky-content {
    height: 100dvh;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.educational-qualification-non-sticky-content .mac {
    margin: 0;
    height: auto;
    padding: unset;
    border: 1px solid var(--color);
}

.educational-qualification-non-sticky-content .mac .mac-button-wrapper {
    border-bottom: 1px solid;
    padding: 0.8rem;
}

.educational-qualification-non-sticky-content .mac .code-block {
    height: calc(100dvh - 7rem);
    border-bottom: 1px solid var(--color);
    background-color: var(--color);
    color: var(--background-color);
    margin: 0;
    scroll-snap-type: x mandatory;
    display: flex;
    overflow-y: hidden;
}

.educational-qualification-non-sticky-content .mac .code-block .slide {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
    white-space: normal;
    overflow-y: auto;
    overflow-x: hidden;
}

.degree-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.degree-wrapper .slide-content-number {
    font-size: 2rem;
    padding: 1rem 1rem;
    font-weight: 500;
    line-height: 0.85;
    color: var(--color__important_word);
}

.degree-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.75rem;
    padding: 1rem;
    font-weight: 800;
    line-height: 0.85;
    letter-spacing: -2px;
}

.degree-stream {
    border-top: 1px solid transparent;
    background-color: var(--background-color__tertiary);
    color: var(--color__primary);
    font-weight: 500;
    line-height: 1.25;
    padding: 1rem;
}

.degree-stream div:last-child {
    padding-top: 0.25rem;
}

.about-degree-wrapper {
    height: 100%;
    margin: 0;
    overflow: hidden;
    flex-direction: column;
}

.about-degree-heading {
    background-color: var(--background-color);
    color: var(--color);
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.3;
    font-size: 2rem;
    padding: 1rem;
}

.about-degree-point-wrapper {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    overflow: auto;
    height: 100%;
    padding: 1rem;
    font-size: 1rem;
    justify-content: flex-start;
}

.project-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.project-heading {
    background-color: var(--background-color);
    color: var(--color);
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.3;
    font-size: 2rem;
    padding: 1rem;
}

.project-container {
    display: flex;
    flex-grow: 1;
    overflow: auto;
    margin-bottom: 1rem;
}

.project-container .row {
    margin: 0;
    padding: 1rem;
}

.project-number {
    font-size: 2rem;
    font-weight: 700;
}

.project-name {
    font-size: 1.35rem;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 0.5rem;
}

.project-description {
    line-height: 1.25;
    font-size: 1rem !important;
}

.education-summary {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.education-summary .heading {
    background-color: var(--color);
    color: var(--background-color);
    padding: 0.8rem;
    font-size: 2.25rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    line-height: 1.3;
}

.education-summary .slide-content-number {
    font-weight: 500;
    color: var(--color__important_word);
}

.education-summary .heading div:last-child {
    flex-grow: 1;
    text-align: center;
}

.education-summary .summary-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    background-image: url('../assets/computer-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
}

.education-summary .summary-wrapper .row {
    justify-content: center;
    width: 100%;
}

.education-summary .summary-wrapper .summary-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(5px);
    padding: 0.8rem 0.5rem;
    margin: 0.5rem;
}

.education-summary .summary-wrapper .summary-content .summary-number {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
}

.education-summary .summary-wrapper .summary-content .summary-heading {
    font-weight: 600;
    font-size: 1rem;
    word-break: break-all;
}

.education-slide-end {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.education-slide-end .slide-content-number {
    font-size: 2rem;
    font-weight: 500;
    line-height: 0.85;
    padding: 1rem 1rem;
    color: var(--color__important_word);
}

.education-slide-end .end-card {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.75rem;
    font-weight: 800;
    line-height: 0.85;
    letter-spacing: -2px;
    padding: 1rem;
}

.education-slide-end .end-card span:last-child {
    text-decoration: line-through;
    text-decoration-color: var(--color__important_word);
}

.education-slide-end .message {
    border-top: 1px solid transparent;
    padding: 1rem;
    background-color: var(--background-color__tertiary);
    color: var(--color__primary);
    font-weight: 500;
}

.educational-qualification-non-sticky-content .mac .screen-swiper {
    background-color: var(--background-color);
    color: var(--color);
    padding: 0.5rem;
    text-align: center;
}

.educational-qualification-non-sticky-content .mac .screen-swiper .screen-swiper-button-wrapper span {
    font-size: 2.5rem;
    cursor: pointer;
}

.educational-qualification-non-sticky-content .mac .screen-swiper .screen-swiper-info {
    font-size: 0.65rem;
    font-style: italic;
}

/* Skills */

.skills-intro {
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4.25rem;
    font-weight: 900;
    line-height: 0.85;
    width: 100%;
    text-align: center;
}

.skills-intro div {
    transition: 1.5s ease-out;
    -webkit-transition: 1.5s ease-out;
    -moz-transition: 1.5s ease-out;
    -o-transition: 1.5s ease-out;
}

.skills-intro div:nth-child(1) {
    position: relative;
    left: -100%;
}

.skills-intro div:nth-child(2) {
    font-size: 0;
}

.skills-intro div:nth-child(3) {
    position: relative;
    left: 100%;
    color: var(--color__important_word);
}

.skills-intro-animation div:nth-child(1),
.skills-intro-animation div:nth-child(3) {
    left: 0;
}

.skills-intro-animation div:nth-child(2) {
    font-size: 4.25rem;
}

.horizontal-view-sticky-viewport {
    position: sticky;
    top: 0;
    overflow: hidden;
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.horizontal-view-element-wrapper {
    display: flex;
    width: fit-content;
    width: -webkit-fit-content;
}

.horizontal-view-element-wrapper>div:first-child {
    margin-left: 2rem;
}

.horizontal-view-dynamic-heading {
    font-size: 2rem;
}

.horizontal-view-element {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15rem;
    width: 15rem;
    margin-right: 2rem;
    background: white;
    border: 1rem solid white;
    border-radius: 1.75rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.horizontal-view-element img {
    width: 10rem;
}

.skill-type-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
}

.skill-type {
    font-size: 1.7rem;
    font-weight: 700;
    position: absolute;
    left: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    font-family: 'Antonio';
    text-transform: uppercase;
    width: fit-content;
    color: var(--color__primary);
}

.slice::before {
    content: attr(data-text);
    position: absolute;
    z-index: 99;
    top: 3px;
    left: 0px;
    color: var(--color__important_word);
    background: var(--background-color);
    height: 55%;
    overflow: hidden;
    text-shadow: 0 0 2.5px var(--color__important_word);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    animation: sliced-half 150ms forwards 0.62s ease-in-out;
}

.slice::after {
    content: "";
    height: 1.5px;
    width: 0%;
    position: absolute;
    z-index: 999;
    top: 62%;
    left: 0;
    transform: translateY(-50%);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    background: var(--background-color);
    animation: slice 300ms forwards 0.35s ease-in-out;
    background: rgb(0, 171, 0);
    background: radial-gradient(circle, rgba(0, 171, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.skill-type-indication {
    display: flex;
    align-items: center;
}

.skill-type-wrapper .material-symbols-outlined {
    font-size: 1.7rem;
    vertical-align: middle;
}

.skill-name {
    font-size: 1.25rem;
    font-weight: 500;
}

/* Talks */

.talks-wrapper {
    width: 100%;
    margin-bottom: 2rem;
}

.talk-pic-wrapper {
    width: 60%;
    border: 0.5rem solid;
    box-shadow: 0.75rem 0.75rem darkgrey;
}

.talk-details-wrapper div:last-child {
    border-bottom: none !important;
}

.talk-details {
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color__faded__secondary);
    line-height: 1.25;
}

.talk-details .talk-topic {
    font-weight: 500;
    padding-bottom: 0.4rem;
}

.talk-details .talk-event {
    color: var(--color__faded__secondary);
}

/* Awards */

.awards-wrapper {
    width: 100%;
    margin-bottom: 2rem;
}

.award-column {
    display: flex;
    justify-content: center;
}

.award-content {
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    text-align: center;
    box-shadow: #00000026 0 5px 15px;
    background-color: white;
}

.award-name {
    font-size: 1.38rem;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 0.5rem;
    color: var(--color__primary);
}

.award-description {
    color: gray;
    font-size: 0.85rem;
}

/* Projects */

#projects .container {
    height: auto;
    overflow: unset;
    flex-direction: column;
}

.projects-sticky-content {
    position: sticky;
    height: 100dvh;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.125rem;
    font-weight: 500;
    color: var(--color__rich_for_black_bg);
    line-height: 1.2;
}

.projects-non-sticky-content {
    min-height: 100dvh;
    height: auto;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-non-sticky-content .row {
    width: 100%;
    justify-content: center;
}

.project-display-wrapper {
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    background: #222224de;
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.project-display-details-wrapper {
    line-height: 1.375;
    font-weight: 600;
    padding: 2rem;
    padding-bottom: 0;
    font-size: 1.2rem;
}

.project-display-description {
    color: var(--color__rich_for_black_bg);
}

.project-display-tools {
    display: flex;
    padding-bottom: 3rem;
    height: 4.575rem;
}

.project-display-tools img {
    max-width: 100%;
    max-height: 100%;
    margin-right: 0.25rem;
}

.project-display {
    height: auto;
    padding-left: 2rem;
}

.project-display img {
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    background: #222224de;
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(5px);
    border-right: 0;
    border-bottom: 0;
    max-width: 100%;
    max-height: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Contact */

.contact-wrapper {
    width: 100%;
}

.linkedin {
    border-radius: 1.25rem;
    border: 0;
    box-shadow: #00000026 0 5px 15px;
    margin-bottom: 2rem;
    padding: 0.5rem;
    color: var(--color__primary);
}

.linkedin .header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.linkedin .header img {
    width: 3rem;
}

.linkedin .header .header-text-wrapper {
    margin-left: 0.75rem;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linkedin-name {
    font-size: 1rem;
    padding-bottom: 0.125rem;
}

.linkedin-role,
.linkedin-time {
    color: gray;
}

.linkedin-time .material-symbols-outlined {
    font-size: 1rem;
    vertical-align: middle;
}

.linkedin-post .hashtag {
    color: #0a66c2;
    font-weight: 500;
}

.linkedin .btn-primary {
    background-color: #0a66c2;
    border-color: #0a66c2;
    border-radius: 1.25rem;
}

.linkedin .btn-primary:hover,
.linkedin .btn-primary:focus,
.linkedin .btn-primary:active {
    background-color: #0a4c8d;
    border-color: #0a4c8d;
    border-radius: 1.25rem;
}

.social-icon-wrapper {
    justify-content: center;
    margin-bottom: 2rem;
}

.social-icon-wrapper .social-icon {
    padding: 2rem;
    background: white;
    border: 1px solid white;
    border-radius: 1rem;
}

.social-icon-wrapper .social-icon .social-icon-heading {
    margin-top: 0.5rem;
    font-size: 1.25rem;
}

.social-icon-wrapper .social-icon .social-icon-description {
    margin-top: 0.75rem;
}

.social-icon-wrapper .social-icon .social-icon-link {
    margin-top: 0.5rem;
    color: #0a66c2;
}

.social-icon-wrapper .social-icon .social-icon-link a {
    text-decoration: none;
}

.social-icon-wrapper .social-icon .material-symbols-outlined {
    vertical-align: middle;
    font-size: 1rem;
}

.social-icon-wrapper img {
    width: 3rem;
    cursor: pointer;
}

.timer {
    margin-bottom: 2rem;
}

.timer div:last-child {
    font-weight: 500;
}

/* Footer */

.footer {
    background-color: var(--background-color__secondary);
    color: var(--color__secondary);
    padding: 2rem;
    text-align: center;
    font-size: 0.75rem;
}

.footer a {
    color: var(--color__secondary);
}

.footer a:hover {
    color: var(--color__faded);
}

/* General/Helper */

.text-stroke-intro {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.125;
    text-align: center;
    margin-bottom: 1rem;
}

.text-stroke-wrapper {
    display: inline-block;
    position: relative;
}

.text-stroke-real {
    -webkit-text-stroke: 1.5px var(--color);
}

.text-stroke-duplicate {
    -webkit-text-stroke: 0px;
    color: var(--background-color);
    position: absolute;
    top: 0;
    left: 0;
}

.hideY {
    transform: translateY(30px);
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    opacity: 0;
}

.showY {
    transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transition: transform 1s ease, opacity 1s ease;
    -webkit-transition: transform 1s ease, opacity 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease;
    opacity: 1;
}

/* .hideX {
    transform: translateX(30px);
    -o-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -webkit-transform: translateX(30px);
    opacity: 0;
}

.showX {
    transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transition: transform 1s ease, opacity 1s ease;
    opacity: 1;
} */

.glitch-outro {
    animation: glitch-outro 0.4s forwards 4s;
}